@import "../../styles/colors.scss";

:host {
  display: block;
  width: 100%; // garante que o componente ocupe o espaço do form
}

.btn-wrapper {
  width: 100%;
}

button {
  background: linear-gradient(90deg, $secondary-color, $primary-color);
  border: none;
  box-shadow: 5px 5px 10px $gray-box-shadow, -5px -5px 10px $white-box-shadow;
  width: 100%;
  color: white;
  padding: 12px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  height: 45px;

  &:hover {
    background: #368197;
  }
}
