@import "../../styles/colors.scss";

.resultados {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // sempre 4 colunas
  gap: 45px;
  padding: 32px 16px;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1200px;
  justify-items: center;


  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 40px;
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    margin-left: 0;
    padding: 20px;
    justify-items: center;
  }
}

.area-resultados {
  min-height: 400px; // ou o espaço necessário
  display: flex;
  justify-content: center;
  align-items: center;
}

.mensagem-vazia {
  text-align: center;
  color: $text-primary;
  font-size: 18px;
}
