@import "../../styles/colors.scss";

.fab {
  position: fixed;
  bottom: clamp(16px, 4vw, 30px);
  right: clamp(16px, 5vw, 50px);

  display: flex;
  align-items: center;
  justify-content: center;

  width: clamp(44px, 5vw, 56px);
  height: clamp(44px, 5vw, 56px);
  font-size: clamp(20px, 2.5vw, 28px);

  border: none;
  border-radius: 50%;
  background: linear-gradient(90deg, $secondary-color, $primary-color);
  color: white;
  cursor: pointer;
  z-index: 1000;

  box-shadow: 5px 5px 10px $gray-box-shadow, -5px -5px 10px $white-box-shadow;
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
  }
}



.mensagem-vazia {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 400px; 
  text-align: center;

  color: $text-primary;
  font-size: 18px;
}

.resultados-funcionario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 50px; 
}

