@import "../../styles/colors.scss";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $gray-bg;
  height: 100vh;
  position: relative;
  overflow: hidden; // evita que os círculos causem scroll
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 20px $gray-box-shadow, -10px -10px 20px $white-box-shadow;
  border-radius: 13px;
  padding: 30px;
  z-index: 1;
  position: relative;
}

h1 {
  font-size: 25px;
  color: $primary-color;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: bold;
}

p {
  font-size: 16px;
  margin-top: 25px;
  color: #797979;
}

a {
  color: $primary-color;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 1;
}

.logo img {
  width: 80px;
  height: auto;
}

// Círculos decorativos
.circle-big {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: $primary-color;
  border-radius: 50%;
  z-index: 0;
  overflow: visible;
  background-color: rgba(16, 107, 138, 0.15); // azul clarinho com opacidade


  &.top-right {
    top: -130px;
    right: -120px;
  }

  &.bottom-left {
    bottom: -130px;
    left: -120px;
  }

  .circle-small {
    position: absolute;
    width: 117px;
    height: 117px;
    background-color: rgba(18, 180, 184, 0.25); // azul clarinho com opacidade
    border-radius: 50%;
    z-index: 1;

    &.top-right {
      top: 95%;
      left: 60%;
      transform: translate(-50%, -50%);
    }

    &.bottom-left {
      top: 1%;
      left: 40%;
      transform: translate(-50%, -50%);
    }
  }
}
