<app-default-login-layout
    titulo="Log In"
    btnTexto="Log In"
    pTexto="Ainda não tem uma conta?"
    aTexto=" Cadrastre-se"
    aLink="/cadastro"
>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-primary-input
            formControlName="cnes"
            inputName="CNES"
            type="text"
            label="CNES"
            placeholder="1234567"
            marginBottom="20px"
        >
        </app-primary-input>
        <div *ngIf="loginForm.get('cnes')?.hasError('required') && loginForm.get('cnes')?.touched" style="color: red;">
            CNES é obrigatório.
        </div>

        <app-primary-input
            formControlName="senha"
            inputName="senha"
            type="password"
            label="Senha"
            placeholder="*******"
            marginBottom="18px"
        >
        </app-primary-input>
        <div *ngIf="loginForm.get('senha')?.hasError('required') && loginForm.get('senha')?.touched" style="color: red;">
            Senha é obrigatória.
        </div>
        <div *ngIf="loginForm.get('senha')?.hasError('minlength') && loginForm.get('senha')?.touched" style="color: red;">
            A senha deve ter no mínimo 7 caracteres.
        </div>

        <app-primary-button
            type="submit"
        ></app-primary-button>
    </form>
</app-default-login-layout>