<app-default-login-layout
    titulo="Criar Conta"
    btnTexto="Criar"
    pTexto="Já tem uma conta?"
    aTexto=" Log in"
    aLink="/login"
>
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
        <app-primary-input
            formControlName="cnes"
            inputName="cnes"
            type="text"
            label="CNES"
            placeholder="1234567"
        >
        </app-primary-input>
        <div *ngIf="cadastroForm.get('cnes')?.hasError('required') && cadastroForm.get('cnes')?.touched" style="color: red;">
            CNES é obrigatório.
        </div>

        <app-primary-input
            formControlName="nome"
            inputName="nome"
            type="text"
            label="Nome do Estabelecimento"
            placeholder="Ubs parque fernanda"
        >
        </app-primary-input>
        <div *ngIf="cadastroForm.get('nome')?.hasError('required') && cadastroForm.get('nome')?.touched" style="color: red;">
            Nome é obrigatório.
        </div>

        <app-primary-input
            formControlName="senha"
            inputName="senha"
            type="password"
            label="Senha"
            placeholder="*******"
        >
        </app-primary-input>
        <div *ngIf="cadastroForm.get('senha')?.hasError('required') && cadastroForm.get('senha')?.touched" style="color: red;">
            Senha é obrigatória.
        </div>
        <div *ngIf="cadastroForm.get('senha')?.hasError('minlength') && cadastroForm.get('senha')?.touched" style="color: red;">
            A senha deve ter no mínimo 7 caracteres.
        </div>

        <app-primary-input
            formControlName="endereco"
            inputName="endereco"
            type="text"
            label="Endereço"
            placeholder="R. Dr. Benedito Matarazzo, 371 - 05854-090"
        >
        </app-primary-input>
        <div *ngIf="cadastroForm.get('endereco')?.hasError('required') && cadastroForm.get('endereco')?.touched" style="color: red;">
            Endereço é obrigatório.
        </div>

        <app-primary-button
            type="submit"
            texto="Cadastro"
        ></app-primary-button>
    </form>
</app-default-login-layout>