<app-default-registro-medicamento-layout
    titulo="Registro de Medicamento"
    aLink="/funcionario"
>

    <form [formGroup]="registroForm">

    <app-second-input
    formControlName = "nome"
    inputName="nome"
    type="text"
    label="Nome"
    placeholder="Digite o nome do remédio"
    >
    </app-second-input>

    <app-second-input
    formControlName="descricao"
    inputName="descricao"
    label="Informações"
    placeholder="Digite as informações complementares"
/>

    </form>

    <app-primary-button
    btnTexto="Registrar"
    [btnSize]="{ width: '490px', height: '48px' }"
    ></app-primary-button>

</app-default-registro-medicamento-layout>