<app-default-registro-medicamento-layout
    titulo="Registro de Medicamento"
    aLink="/funcionario"

>
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <app-second-input
            formControlName="nome"
            inputName="nome"
            type="text"
            label="Nome"
            placeholder="Digite o nome do remédio"
        >
        </app-second-input>
        <div *ngIf="registroForm.get('nome')?.hasError('required') && registroForm.get('nome')?.touched" style="color: red;">
            Nome é obrigatório.
        </div>

        <app-second-input
            formControlName="descricao"
            inputName="descricao"
            label="Informações"
            placeholder="Digite as informações complementares"
        />
        <div *ngIf="registroForm.get('descricao')?.hasError('required') && registroForm.get('descricao')?.touched" style="color: red;">
            Informações são obrigatórias.
        </div>

        <app-primary-button
            type="submit"
            texto="Registrar"
        ></app-primary-button>
    </form>
</app-default-registro-medicamento-layout>